/* @theme custom */

@import "gaia";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

:root {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    background: linear-gradient(135deg, rgba(142, 174, 204, 1) 0%, rgba(92, 125, 156, 1) 100%);
    box-shadow: inset 0 0 100px #d1e9ff;
    color: #222;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

section.lead {
    background-image: url(./img/bg.jpg);
    background-size: cover;
    box-shadow: none;
    color: #eee;
}

section.lead :is(header, footer), 
section.end :is(header, footer) {
    display: none;
}

section.end {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

blockquote {
    font-weight: 300;
    background: #7e97af;
    border-left: solid 5px #222;
    padding-left: 10px;
}

blockquote::before,
blockquote::after {
    content: "";
}

h6 {
    font-weight: 300;
    background: #7e97af;
    padding: 20px;
    border: 5px solid #222;
    border-radius: 20px;
}

table thead th {
    background: none;
    color: #222;
}