/* @theme custom */

@import "gaia";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

:root {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    background:linear-gradient(135deg, rgba(142, 174, 204, 1) 0%, rgba(92, 125, 156, 1) 100%);
    box-shadow: inset 0 0 100px #d1e9ff;
    color: #222;
}

section h1, h2, h3, h4 {
    font-weight: 500;
}

section.lead {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallup.net%2Fwp-content%2Fuploads%2F2017%2F03%2F28%2F454058-nature-photography-landscape-mountains-sunrise-mist-clouds-cliff-blue-Alps.jpg&f=1&nofb=1);
    background-size: cover;
    box-shadow: none;
    color: #eee;
}

section.lead :is(header, footer), 
section.end :is(header, footer) {
    display: none;
}

section.end {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

blockquote {
    font-weight: 300;
    background-color: #7e97af;
    border-left: solid 5px #222;
    margin-left: 20px;
    padding-left: 10px;
}

blockquote::before,
blockquote::after {
    content: "";
}